# {{ $secrets := print .Values.secretPath .Values.environment "/skip-go-proxy" | fetchSecretValue | fromJson }}
app:
  ingress:
    gateways:
      internal:
        hostnames:
          - "skip-go-proxy.{{ .Values.environment }}.{{ .Values.project_name }}.{{ .Values.ingress.baseDomain }}"
  env:
    SKIP_API_KEY: "secret-value:{{ $secrets.skip_api_key }}"
    SKIP_API_URL: "https://api.skip.go"

