resources:
  - apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: outbe-node
    spec:
      gateways:
        - istio-system/default-gateway-private
      hosts:
        - node.{{ .StateValues.environment }}.{{ .StateValues.systemName }}.{{ .StateValues.ingress.baseDomain }}
      http:
        - route:
            - destination:
                host: node
                port:
                  number: 8080
